@import "~node_modules/modern-normalize/modern-normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
  font-family: "Marck Script", cursive;
  color: #222222;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

a {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

@media screen and (max-width: 375.98px) {
  .container {
    max-width: 100%;
    padding-left: 16px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 376px) {
  .container {
    margin: 0 auto;
    padding: 0 16px;
    width: 376px;
  }
}
@media screen and (min-width: 834px) {
  .container {
    width: 834px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
  }
}

.header {
  position: fixed;
  z-index: 10;
  background-color: white;
  box-shadow: rgba(2, 1, 43, 0.113) 0px 25px 20px -20px;
  width: 100vw;
  border-bottom: 1px solid #81c5ff;
}

@media screen and (max-width: 833.98px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 2px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
    width: 376px;
    position: relative;
  }
}

@media screen and (max-width: 833.98px) {
  .burger-menu {
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/burger-menu.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 833.98px) {
  .burger-menu-open {
    width: 32px;
    height: 32px;
    background-image: url("../images/icons/burger-menu-open.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.logo-header-link {
  display: flex;
  align-items: center;
  background-image: url("../images/icons/Logo-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 833.98px) {
  .logo-header-link {
    height: 45px;
    width: 180px;
    margin-left: auto;
  }
}
@media screen and (min-width: 834px) {
  .logo-header-link {
    height: 64px;
    width: 254px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 834px) {
  .nav-wrapper {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 100vw;
    border-top: 1px solid #81c5ff;
  }
}

.nav-container {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}
@media screen and (min-width: 834px) {
  .nav-container {
    width: 834px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .nav-container {
    width: 1440px;
    padding: 0 165px;
    margin: 0 auto;
  }
}

.nav {
  display: flex;
  align-items: center;
  background-color: white;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 833.98px) {
  .nav {
    display: none;
  }
}
@media screen and (min-width: 834px) {
  .nav {
    flex-direction: row;
  }
}

.nav-list {
  display: flex;
}
@media screen and (max-width: 833.98px) {
  .nav-list {
    flex-direction: column;
  }
}
@media screen and (min-width: 834px) {
  .nav-list {
    flex-direction: row;
    -moz-column-gap: 105px;
         column-gap: 105px;
  }
}
@media screen and (min-width: 1440px) {
  .nav-list {
    -moz-column-gap: 195px;
         column-gap: 195px;
  }
}

.nav-text {
  display: block;
}
@media screen and (max-width: 833.98px) {
  .nav-text {
    width: 164px;
    padding: 16px 0;
    border-bottom: 1px solid #81c5ff;
    font-weight: 400;
    font-size: 18px;
    line-height: 1;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 834px) {
  .nav-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}

.nav-text:hover,
.nav-text:active,
.nav-text.active {
  color: #a90d22;
}

.header-btn-basket {
  background-image: url("../images/icons/icon-basket-empty.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  display: block;
}
@media screen and (min-width: 834px) {
  .header-btn-basket {
    margin-left: auto;
    width: 30px;
    height: 30px;
  }
}

.header-menu {
  background-color: white;
}
@media screen and (max-width: 833.98px) {
  .header-menu {
    position: absolute;
    top: 56;
    left: 0;
    padding: 15px 36px 23px 16px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  }
}
@media screen and (min-width: 834px) {
  .header-menu {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
            clip-path: inset(50%);
    margin: -1px;
  }
}

.menu-nav {
  display: flex;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 833.98px) {
  .hero__container {
    position: relative;
    margin-top: 9px;
    height: 505px;
  }
}
@media screen and (min-width: 834px) {
  .hero__container {
    display: flex;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__container {
    margin-top: 55px;
  }
}

@media screen and (min-width: 834px) {
  .hero__info {
    width: 400px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__info {
    width: 563px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 833.98px) {
  .hero__title {
    color: #f8fafc;
    position: absolute;
    top: 88px;
    left: 16px;
    z-index: 1;
  }
}
@media screen and (min-width: 834px) {
  .hero__title {
    color: #222222;
    font-weight: 400;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: 0.03em;
    margin-top: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__title {
    color: #222222;
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 0.03em;
    margin-top: 180px;
  }
}

.hero__btn {
  padding: 10px 24px;
  color: #f8fafc;
  font-family: "Roboto", sans-serif;
  background-color: #6cb0f3;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 10px;
}
@media screen and (max-width: 833.98px) {
  .hero__btn {
    position: absolute;
    top: 190px;
    left: 16px;
    z-index: 1;
  }
}
@media screen and (min-width: 834px) {
  .hero__btn {
    padding: 16px 32px;
    margin-top: 88px;
  }
}
@media screen and (min-width: 1440px) {
  .hero__btn {
    margin-top: 72px;
  }
}

.hero__img {
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 833.98px) {
  .hero__img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero/hero_img-mobile_1x.jpg");
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    width: 376px;
    height: 505px;
  }
}
@media screen and (max-width: 833.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 833.98px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 833.98px) and (min-resolution: 192dpi), screen and (max-width: 833.98px) and (min-resolution: 2dppx) {
  .hero__img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../images/hero/hero_img-mobile_2x.jpg");
  }
}
@media screen and (min-width: 834px) {
  .hero__img {
    background-image: linear-gradient(179.23deg, rgba(0, 0, 0, 0) 52.28%, rgba(0, 0, 0, 0.4) 89.57%), url("../images/hero/hero_img-tablet_1x.jpg");
    width: 100%;
    width: 333px;
    height: 449px;
    margin-left: 30px;
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .hero__img {
    background-image: linear-gradient(179.23deg, rgba(0, 0, 0, 0) 52.28%, rgba(0, 0, 0, 0.4) 89.57%), url("../images/hero/hero_img-tablet_2x.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .hero__img {
    background-image: linear-gradient(179.23deg, rgba(0, 0, 0, 0) 52.28%, rgba(0, 0, 0, 0.4) 89.57%), url("../images/hero/hero_img-desktop_1x.jpg");
    width: 100%;
    width: 506px;
    height: 680px;
    margin-left: 40px;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .hero__img {
    background-image: linear-gradient(179.23deg, rgba(0, 0, 0, 0) 52.28%, rgba(0, 0, 0, 0.4) 89.57%), url("../images/hero/hero_img-desktop_2x.jpg");
  }
}

.special-offer {
  background-image: url("../images/hero/background@1x-mobile.jpg");
  height: 604px;
  margin: 24px 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .special-offer {
    background-image: url("../images/hero/background@2x-mobile.jpg");
  }
}
@media screen and (min-width: 834px) {
  .special-offer {
    background-image: url("../images/hero/background@1x-tablet.jpg");
    height: 496px;
    margin: 56px 0;
  }
}
@media screen and (min-width: 834px) and (min-device-pixel-ratio: 2), screen and (min-width: 834px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 834px) and (min-resolution: 192dpi), screen and (min-width: 834px) and (min-resolution: 2dppx) {
  .special-offer {
    background-image: url("../images/hero/background@2x-tablet.jpg");
  }
}
@media screen and (min-width: 1440px) {
  .special-offer {
    background-image: url("../images/hero/background@1x-desktop.jpg");
    height: 632px;
    margin: 88px 0;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .special-offer {
    background-image: url("../images/hero/background@2x-desktop.jpg");
  }
}

.special-offer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-bottom: 0;
}
@media screen and (min-width: 834px) {
  .special-offer__container {
    flex-direction: row;
    padding: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .special-offer__container {
    padding: 0 165px;
  }
}

.special-offer__square {
  width: 308px;
  height: 263px;
  border: 4px solid #6cb0f3;
  box-sizing: border-box;
}
@media screen and (min-width: 834px) {
  .special-offer__square {
    width: 354px;
    height: 322px;
    margin: 0 21px;
  }
}
@media screen and (min-width: 1440px) {
  .special-offer__square {
    width: 476px;
    height: 404px;
    margin: 0 28px;
  }
}

.special-offer__background {
  width: 343px;
  height: 226px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-left: -22px;
  margin-top: 15px;
  padding: 32px 89px;
}
@media screen and (min-width: 834px) {
  .special-offer__background {
    width: 396px;
    height: 280px;
    margin-left: -23px;
    padding-top: 16px;
    padding-left: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .special-offer__background {
    width: 532px;
    height: 348px;
    margin-left: -30px;
    margin-top: 25px;
  }
}

.special-offer__title {
  color: #a90d22;
  font-weight: 400;
  font-size: 24px;
  line-height: 44px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .special-offer__title {
    font-weight: 400;
    font-size: 42px;
    line-height: 52px;
    letter-spacing: 0.03em;
    width: 300px;
  }
}
@media screen and (min-width: 1440px) {
  .special-offer__title {
    margin-bottom: 15px;
  }
}

.special-offer__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .special-offer__item {
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
    letter-spacing: 0.03em;
    width: 300px;
  }
}

.special-offer__img {
  width: 100%;
}
@media screen and (min-width: 1440px) {
  .special-offer__img {
    width: 540px;
    margin-top: 55px;
  }
}

.special-offer__btn {
  padding: 10px 24px;
  color: #f8fafc;
  font-family: "Roboto", sans-serif;
  background-color: #6cb0f3;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 10px;
  margin: 0 auto;
  display: flex;
}
@media screen and (min-width: 834px) {
  .special-offer__btn {
    padding: 16px 32px;
    margin-left: 220px;
  }
}
@media screen and (min-width: 1440px) {
  .special-offer__btn {
    margin-left: 480px;
    margin-top: -55px;
  }
}

.reviews {
  position: relative;
}
@media screen and (max-width: 833.98px) {
  .reviews {
    padding-top: 12px;
    padding-bottom: 72px;
  }
}
@media screen and (min-width: 834px) {
  .reviews {
    padding-top: 58px;
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews {
    padding-top: 44px;
    padding-bottom: 88px;
  }
}

.reviews-title {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 833.98px) {
  .reviews-title {
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 1439.98px) {
  .reviews-title {
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-title {
    margin-bottom: 46px;
  }
}

.swiper-slide {
  margin: 0;
}

.swiper-backdrop {
  border-radius: 10px;
  margin: 0 auto;
  width: 350px;
  height: 250px;
  padding: 24px 16px 56px 16px;
  background-color: #f3eed9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #222222;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .swiper-backdrop {
    margin-right: auto;
    margin-left: auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
}

.swiper-button-prev,
.swiper-button-next {
  cursor: pointer;
  position: absolute;
  bottom: 24;
  z-index: 10;
}
@media screen and (min-width: 834px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px;
    height: 30px;
    bottom: 146;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 40px;
    height: 40px;
    bottom: 195;
  }
}

@media screen and (max-width: 833.98px) {
  .swiper-button-prev {
    left: 115;
  }
}
@media screen and (min-width: 834px) {
  .swiper-button-prev {
    left: 40;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-button-prev {
    left: 150;
  }
}

@media screen and (max-width: 833.98px) {
  .swiper-button-next {
    right: 115;
  }
}
@media screen and (min-width: 834px) {
  .swiper-button-next {
    right: 40;
  }
}
@media screen and (min-width: 1440px) {
  .swiper-button-next {
    right: 150;
  }
}

footer {
  font-family: "Roboto", sans-serif;
  width: 100%;
  background-color: #2f7fce;
  color: #f8fafc;
}
@media screen and (max-width: 833.98px) {
  footer {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 834px) {
  footer {
    padding-top: 24px;
    padding-bottom: 8px;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    padding-top: 28px;
    padding-bottom: 24px;
  }
}

.footer-wrapper {
  display: flex;
  gap: 32px;
  position: relative;
}
@media screen and (min-width: 834px) {
  .footer-wrapper {
    gap: 112px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-wrapper {
    gap: 250px;
  }
}

.footer-wrapper-inner {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media screen and (min-width: 834px) {
  .footer-wrapper-inner {
    flex-direction: row;
    gap: 130px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-wrapper-inner {
    flex-direction: row;
    gap: 272px;
  }
}

.footer-wrapper-low {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 59px;
}
@media screen and (min-width: 834px) {
  .footer-wrapper-low {
    margin-top: 80px;
    gap: 20px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-wrapper-low {
    margin-top: 92px;
    gap: 40px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
@media screen and (min-width: 834px) {
  .logo {
    margin-bottom: 24px;
  }
}

.logo-icon {
  width: 23px;
}
@media screen and (min-width: 1440px) {
  .logo-icon {
    width: 32px;
  }
}

.logo-name {
  padding-top: 8px;
}
@media screen and (min-width: 1440px) {
  .logo-name {
    width: 214px;
  }
}

.footer-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.footer-txt {
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.footer-socials-list {
  display: flex;
  gap: 32px;
}

.footer-icon {
  width: 24px;
  height: 24px;
  fill: #f8fafc;
}

.footer-txt-small {
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.03em;
}

.footer-link {
  transition: color 250ms ease-in;
  cursor: pointer;
}

.footer-txt-sign {
  font-weight: 400;
  font-size: 11px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-top: -4px;
  margin-left: -4px;
}
@media screen and (min-width: 834px) {
  .footer-txt-sign {
    margin-left: -8px;
  }
}
@media screen and (min-width: 1440px) {
  .footer-txt-sign {
    margin-left: -16px;
  }
}

.advantages {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 833.98px) {
  .advantages {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 834px) {
  .advantages {
    padding-top: 28px;
    padding-bottom: 58px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.advantages__title {
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 833.98px) {
  .advantages__title {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 1439.98px) {
  .advantages__title {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__title {
    margin-bottom: 46px;
  }
}

.advantages-wrapper {
  display: flex;
  font-family: "Roboto", sans-serif;
}
@media screen and (max-width: 833.98px) {
  .advantages-wrapper {
    flex-direction: column-reverse;
  }
}
@media screen and (min-width: 834px) {
  .advantages-wrapper {
    flex-direction: row;
    -moz-column-gap: 20px;
         column-gap: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .advantages-wrapper {
    -moz-column-gap: 90px;
         column-gap: 90px;
  }
}

.advantages__image {
  background-image: url("../images/backgrounds-advantages/advantages-photo@1x-mobile-and-tablet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages__image {
    background-image: url("../images/backgrounds-advantages/advantages-photo@2x-mobile-and-tablet.jpg");
  }
}
@media screen and (max-width: 833.98px) {
  .advantages__image {
    margin-left: -16px;
    width: 100%;
    width: 376px;
    height: 668px;
    background-position-x: right;
  }
}
@media screen and (min-width: 834px) {
  .advantages__image {
    width: 370px;
    height: 555px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__image {
    background-image: url("../images/backgrounds-advantages/advantages-photo@1x-desktop.jpg");
    width: 600px;
    height: 900px;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .advantages__image {
    background-image: url("../images/backgrounds-advantages/advantages-photo@2x-desktop.jpg");
  }
}

.advantages__list {
  display: flex;
}
@media screen and (max-width: 833.98px) {
  .advantages__list {
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 50px;
  }
}
@media screen and (min-width: 834px) {
  .advantages__list {
    flex-direction: column;
    justify-content: space-between;
    width: 360px;
  }
}
@media screen and (max-width: 833.98px) {
  .advantages__list-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 14px;
  }
}
@media screen and (min-width: 834px) {
  .advantages__list-item-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__list-item-title {
    margin-top: 25px;
  }
}

.advantages__list-item {
  background-image: url("../images/backgrounds-advantages/1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 833.98px) {
  .advantages__list-item {
    height: 130px;
    margin: auto 0;
  }
}
@media screen and (min-width: 834px) {
  .advantages__list-item {
    height: 170px;
    margin: auto 0;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__list-item {
    justify-content: flex-start;
    margin: 0;
  }
}

.advantages__list-item:nth-child(2) {
  background-image: url("../images/backgrounds-advantages/2.svg");
}
@media screen and (min-width: 834px) {
  .advantages__list-item:nth-child(2) {
    align-self: flex-end;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__list-item:nth-child(2) {
    align-self: flex-start;
    margin: 0;
  }
}

.advantages__list-item:last-child {
  background-image: url("../images/backgrounds-advantages/3.svg");
  background-size: 190px 190px;
  background-position: -20px;
}
@media screen and (max-width: 833.98px) {
  .advantages__list-item:last-child {
    padding-left: 35px;
    margin-top: 10px;
  }
}
@media screen and (min-width: 834px) {
  .advantages__list-item:last-child {
    align-self: center;
  }
}
@media screen and (min-width: 1440px) {
  .advantages__list-item:last-child {
    height: 260px;
    width: 400px;
    padding: 40px;
    align-self: flex-start;
    margin-bottom: 60px;
    background-size: 300px 300px;
  }
}

@media screen and (max-width: 833.98px) {
  .advantages__sublist-item {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    width: 140px;
  }
}
@media screen and (min-width: 834px) {
  .advantages__sublist-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
}
.offers {
  font-family: "Roboto", sans-serif;
}

.offers-title {
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-size: 42px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #222222;
}

.offers-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
@media screen and (min-width: 834px) {
  .offers-list {
    gap: 24px;
  }
}
@media screen and (min-width: 1440px) {
  .offers-list {
    gap: 46px;
  }
}

.offers-item {
  position: relative;
  border: 1px solid #6cb0f3;
  border-radius: 2px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.offers-item:hover, .offers-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 376px) {
  .offers-item {
    flex-basis: calc((100% - 16px) / 2);
    height: 290px;
  }
}
@media screen and (min-width: 834px) {
  .offers-item {
    flex-basis: calc((100% - 48px) / 3);
    height: 380px;
  }
}
@media screen and (min-width: 1440px) {
  .offers-item {
    flex-basis: calc((100% - 138px) / 4);
    height: 380px;
  }
}

.offers-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px 7px 0 7px;
}
@media screen and (min-width: 834px) {
  .offers-item-wrapper {
    padding: 10px 10px 0 10px;
  }
}

.order-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #6cb0f3;
  width: 100%;
  height: 34px;
  padding: 8px 0;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 834px) {
  .order-btn {
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
    padding: 14px 0;
  }
}
.order-btn:hover {
  background-color: #81c5ff;
}

.offers-subtitle {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
}
@media screen and (min-width: 834px) {
  .offers-subtitle {
    height: 34px;
    margin-top: 6px;
  }
}
@media screen and (min-width: 834px) {
  .offers-subtitle {
    margin-top: 13px;
  }
}

.offers-text {
  flex-grow: 1;
  font-weight: 700;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  text-align: center;
}
@media screen and (min-width: 834px) {
  .offers-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-bottom: 4px;
  }
}

.offers-thumb {
  background-color: #f3eed9;
  overflow: hidden;
  border-radius: 10px;
  height: 137px;
}
@media screen and (min-width: 834px) {
  .offers-thumb {
    height: 210px;
    width: 216px;
  }
}
@media screen and (min-width: 834px) {
  .offers-thumb {
    width: 222px;
    height: 200px;
  }
}

.offers-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.order-value {
  width: 33px;
  height: 32px;
  padding: 5px 0;
  border: 1px solid #81c5ff;
  box-shadow: 0px 0px 0px 2px rgba(24, 144, 255, 0.2);
  text-align: center;
  background-color: #fffcfc;
  z-index: 2;
}

.counter {
  display: flex;
  margin: 5px auto;
}

.order-decrement {
  width: 30px;
  height: 32px;
  background-color: #fffcfc;
  border: 1px solid #d9d9d9;
  margin-right: -1px;
  cursor: pointer;
  border-radius: 2px 0px 0px 2px;
}

.order-increment {
  width: 30px;
  height: 32px;
  background-color: #fffcfc;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #d9d9d9;
  margin-left: -1px;
  cursor: pointer;
}

@media screen and (max-width: 833.98px) {
  .main {
    margin-top: 56px;
  }
}
@media screen and (min-width: 834px) {
  .main {
    margin-top: 108px;
  }
}

.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  opacity: 1;
  overflow-y: hidden;
  visibility: visible;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 306px;
  height: 168px;
  background-color: #f8fafc;
  overflow-y: auto;
  padding-right: 24px;
  padding-left: 6px;
  padding-top: 6px;
  border: 1px solid #6cb0f3;
  border-radius: 10px;
}
@media screen and (min-width: 834px) {
  .modal {
    width: 600px;
    height: 248px;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 64px;
    transform: translate(-50%, -50%);
  }
}

.modal-link-home {
  display: block;
  margin-top: 24px;
  width: 200px;
  height: 41px;
  padding: 12px 10px;
  font-family: "Roboto", sans-serif;
  white-space: nowrap;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  color: #f8fafc;
  border-radius: 10px;
  background-color: #6cb0f3;
}
@media screen and (min-width: 834px) {
  .modal-link-home {
    width: 283px;
    height: 54px;
    padding: 16px 32px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
}
.modal-link-home:hover {
  background-color: #81c5ff;
}

.modal-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .modal-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
}

.basket-title {
  white-space: nowrap;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .basket-title {
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .basket-title {
    margin-bottom: 56px;
  }
}

.basket-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 834px) {
  .basket-item-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.basket-list_item {
  display: block;
  border-bottom: 1px solid #f3eed9;
}

.basket-item_title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  .basket-item_title-wrapper {
    margin-bottom: 36px;
  }
}

.basket-item_title {
  width: 154px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 834px) {
  .basket-item_title {
    width: 300px;
    margin-left: 30px;
  }
}

.basket-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .basket-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1440px) {
  .basket-subtitle {
    white-space: nowrap;
  }
}

.basket-item-price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .basket-item-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 834px) {
  .basket {
    margin-left: 60px;
  }
}

.order-value {
  font-family: "Roboto", sans-serif;
}

.basket-item-info {
  margin-right: auto;
}
@media screen and (min-width: 834px) {
  .basket-item-info {
    width: 100%;
  }
}

.basket-item_thumb {
  width: 300px;
  height: 300px;
  background-color: #f8fafc;
  border: 1px solid #2f7fce;
  padding: 8px;
  margin-top: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .basket-item_thumb {
    width: 200px;
    height: 200px;
    padding: 6px;
    margin-top: 0px;
    margin-right: auto;
  }
}

.basket-item_img {
  background-color: #f3eed9;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.basket-link-home {
  display: block;
  width: 192px;
  height: 42px;
  margin-bottom: 28px;
  margin-top: 32px;
  padding: 12px 20px;
  border: 1px solid #6cb0f3;
  border-radius: 10px;
  white-space: nowrap;
  color: #6cb0f3;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 834px) {
  .basket-link-home {
    width: 209px;
    height: 50px;
    padding: 16px 29px;
    margin-bottom: 48px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .basket-link-home {
    width: 255px;
    height: 54px;
    padding: 16px 32px;
    margin-bottom: 56px;
    margin-top: 56px;
  }
}
.basket-link-home:hover {
  border: 1px solid #81c5ff;
}

.basket-total {
  border-top: 1px solid #f3eed9;
  border-bottom: 1px solid #f3eed9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.basket-total-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .basket-total-title {
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-top: 56px;
    margin-bottom: 56px;
  }
}

.basket-total-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  padding: 17px 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #6cb0f3;
}
@media screen and (min-width: 834px) {
  .basket-total-price {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.03em;
    padding: 15px 20px;
    margin-top: 52px;
    margin-bottom: 52px;
  }
}

.basket-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 19px;
  width: 300px;
  background-color: #f8fafc;
}
@media screen and (min-width: 834px) {
  .basket-form {
    width: 450px;
    padding: 26px 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .basket-form {
    margin-right: auto;
  }
}

.basket-form_input {
  min-width: 343px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  color: #8f8f8f;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #b4b2b2;
}
.basket-form_input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8f8f8f;
}
.basket-form_input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #8f8f8f;
}
@media screen and (min-width: 834px) {
  .basket-form_input {
    min-width: 380px;
    height: 46px;
  }
}

.basket-form_btn {
  display: block;
  width: 209px;
  height: 54px;
  padding: 16px 32px;
  border-radius: 10px;
  color: #f3eed9;
  background-color: #6cb0f3;
  border: 1px solid #6cb0f3;
  margin-top: 70px;
}/*# sourceMappingURL=index.css.map */