$primary-font-style: "Marck Script", cursive;
$secondary-font-style: "Roboto", sans-serif;

$background-color: #f8fafc;
$primary-text-color: #222222;

$logo-text-color: #4a4848;
$input-text-color: #8f8f8f;

$accent-btn-color: #6cb0f3;
$hover-btn-color: #81c5ff;

$hover-header-text-color: #a90d22;
$background-card-color: #f3eed9;

$footer-color: #2f7fce;
