<div class="container">
  <img
    src="./images/backgrounds-advantages/advantages-photo@1x-mobile-and-tablet.jpg"
    alt=""
  />
  <h2>Наші переваги</h2>
  <ul>
    <li>
      <h3>Приємна ціна</h3>
      <ul>
        <li>Пряма логістика з Єрусалиму</li>
      </ul>
    </li>
    <li>
      <h3>Гарантія якості</h3>
      <ul>
        <li>7+ років на ринку</li>
        <li>43 000+ проданих браслетів</li>
      </ul>
    </li>
    <li>
      <h3>Відправка в день замовлення</h3>
      <ul>
        <li>Нова Пошта</li>
        <li>УкрПошта</li>
      </ul>
    </li>
  </ul>
</div>
