<div class="container offers">
<section>
  <h2 class="offers-title">Позиції</h2>
    <ul class="offers-list">
      <li class="offers-item  js-articleId" id="11">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-2-glaz-fatimy.png"
              alt="Нитка з кулоном “Око Фатіми”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Око Фатіми”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        <button class="order-btn js-order">Замовити</button>
      </li>
      <li class="offers-item  js-articleId" id="22">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-3-angel.png"
              alt="Нитка з кулоном “Ангел”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Ангел”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        <button class="order-btn js-order">Замовити</button>
      </li>
      <li class="offers-item  js-articleId" id="33">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-4-derevo-zhyttya.png"
              alt="Нитка з кулоном “Дерево Життя”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Дерево Життя”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        
        <button class="order-btn js-order" type="button">Замовити</button>
      </li>
      <li class="offers-item  js-articleId" id="44">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-5-bezkinechnist.png"
              alt="Нитка з кулоном “Нескінченність”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Нескінченність”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        <button class="order-btn js-order">Замовити</button>
      </li>
      <li class="offers-item  js-articleId" id="55">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-2-glaz-fatimy.png"
              alt="Нитка з кулоном “Око Фатіми”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Око Фатіми”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        <button class="order-btn js-order">Замовити</button>
      </li>
      <li class="offers-item  js-articleId" id="66">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-3-angel.png"
              alt="Нитка з кулоном “Ангел”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Ангел”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        <button class="order-btn js-order">Замовити</button>
      </li>
      <li class="offers-item  js-articleId" id="77">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-4-derevo-zhyttya.png"
              alt="Нитка з кулоном “Дерево Життя”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Дерево Життя”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        <button class="order-btn js-order">Замовити</button>
      </li>
      <li class="offers-item  js-articleId" id="88">
        <div class="offers-item-wrapper">
          <div class="offers-thumb">
            <img class="offers-img"
              src="./images/threads-for-desctop/thread-5-bezkinechnist.png"
              alt="Нитка з кулоном “Нескінченність”"
              width="370"
            />
          </div>
          <h3 class="offers-subtitle">Нитка з кулоном “Нескінченність”</h3>
          <p class="offers-text">49 грн</p>
          <div class="counter" data-action="counter">
            <button
              class="order-decrement js-reduce"
              type="button"
              data-action="decrement" >-1</button>
            <div class="order-value js-value" data-action="value">0</div>
            <button
              class="order-increment js-add"
              type="button"
              data-action="increment" >+1</button>
          </div>
        </div>
        <button class="order-btn js-order">Замовити</button>
      </li>
    </ul>
</section>
</div>
