<footer id="footer">
  <div class="container footer">
    <h2 class="visually-hidden">Відгуки</h2>

    <div class="footer-logo">
      <a href="./index.html" class="logo" noopener noreferrer>
        <img
          class="logo-icon"
          src="./images/icons/logo.svg"
          alt="Логотип Червона нитка"
        />
        <img
          class="logo-name"
          src="./images/icons/logo-text-white.svg"
          alt="Логотип Червона нитка"
        />
      </a>
    </div>
    <div class="footer-wrapper">
      <div class="footer-wrapper-inner">
        <div class="footer-contacts">
          <h3 class="footer-subtitle">Контакти</h3>
          <a
            class="footer-txt footer-link"
            href="tel:+380500261277"
            noopener
            noreferrer
            >+38 050 026 12 77</a
          >
        </div>
        <div class="footer-email">
          <h3 class="footer-subtitle">E-mail</h3>
          <a
            href="mailto:krasnaya.nit6@ukr.net"
            class="footer-txt footer-link"
            noopener
            noreferrer
            >krasnaya.nit6@ukr.net</a
          >
        </div>
      </div>
      <div class="footer-socials">
        <h3 class="footer-subtitle">Приєднуйтесь</h3>
        <ul class="footer-socials-list">
          <li class="footer-socials-item">
            <a
              href="#"
              class="footer-socials-link footer-link"
              aria-label="Telegram"
            >
              <svg width="28" height="28" class="footer-icon">
                <use href="./images/icons/symbol-defs.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-socials-item">
            <a
              href="#"
              class="footer-socials-link footer-link"
              aria-label="Instagram"
            >
              <svg width="28" height="28" class="footer-icon">
                <use href="./images/icons/symbol-defs.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-wrapper-low">
      <p class="footer-txt-small">Червона нитка</p>
      <p class="footer-txt-sign">&#169;</p>
      <p class="footer-txt-small">2023</p>
      <p class="footer-txt-small">Авторські права захищені</p>
    </div>
  </div>
</footer>
