<header class="header">
    <div class="header-wrapper">
        <div class="burger-menu">
    <!--  -->
  </div>
  <div class="logo-header">
    <a href="./index.html" class="logo-header-link">
        <!--  -->
    </a>
  </div>
  <div class="nav-wrapper">
    <div class="nav-container">
    <nav  class="nav">
    <ul class="nav-list">
      <li class="nav-list__item">
        <a href="./index.html#offers" class="nav-text">Позиції</a href="#">
      </li>
      <li class="nav-list__item">
        <a href="./index.html#advantages" class="nav-text">Переваги</a href="#">
      </li>
      <li class="nav-list__item">
        <a href="./index.html#reviews" class="nav-text">Відгуки</a href="#">
      </li>
      <li class="nav-list__item">
        <a href="./index.html#footer" class="nav-text">Контакти</a href="#">
      </li>
    </ul>
  </nav>
  <a href="./basket.html" class="header-btn-basket">

  </div>

  <div class="header-menu visually-hidden">
      <nav  class="menu-nav">
    <ul class="nav-list">
      <li class="nav-list__item">
        <a href="./index.html#offers" class="nav-text">Позиції</a href="#">
      </li>
      <li class="nav-list__item">
        <a href="./index.html#advantages" class="nav-text">Переваги</a href="#">
      </li>
      <li class="nav-list__item">
        <a href="./index.html#reviews" class="nav-text">Відгуки</a href="#">
      </li>
      <li class="nav-list__item">
        <a href="./index.html#footer" class="nav-text">Контакти</a href="#">
      </li>
    </ul>
  </nav>
  </div>
  </div>

    <!-- basket -->
  </a>
</div>
  
</header>
