<section class="special-offer">
  <div class="container special-offer__container">
    <div class="special-offer__square">
      <div class="special-offer__background">
        <h2 class="special-offer__title">Акція <br />Червона нитка</h2>
        <ul class="special-offer__list">
          <li class="special-offer__item">1 шт - 25 грн</li>
          <li class="special-offer__item">5 шт - 100 грн</li>
          <li class="special-offer__item">10 шт - 180 грн</li>
        </ul>
      </div>
    </div>
    <picture>
      <source
        srcset="
          ./images/hero/hero-thread-mobile.png    1x,
          ./images/hero/hero-thread-mobile_2x.png 2x
        "
        sizes="(max-width: 833px) 250px"
        media="(max-width: 833px)"
        type="image/jpg"
      />
      <source
        srcset="
          ./images/hero/hero-thread-tablet.png    1x,
          ./images/hero/hero-thread-tablet_2x.png 2x
        "
        sizes="(min-width: 834px) 322px"
        media="(min-width: 834px)"
        type="image/jpg"
      />
      <source
        srcset="
          ./images/hero/hero-thread-desktop.png    1x,
          ./images/hero/hero-thread-desktop_2x.png 2x
        "
        sizes="(min-width: 1440px) 540px"
        media="(min-width: 1440px)"
        type="image/jpg"
      />

      <img
        class="special-offer__img"
        src="./images/hero/hero-thread-mobile.png"
        alt="Червона нитка"
        width="250"
      />
    </picture>
  </div>
  <a href="./basket.html" class="special-offer__btn js-special">
    Замовити нитку
  </a>
</section>
