@import "../utils/breakpoints";

.offers {
  font-family: $secondary-font-style;
}

.offers-title {
  font-family: $primary-font-style;
  @include font(400, 42px, 120%, 0.03em);

  color: $primary-text-color;
}

.offers-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  @include tablet {
    gap: 24px;
  }
  @include desktop {
    gap: 46px;
  }
}

.offers-item {
  position: relative;
  border: 1px solid $accent-btn-color;
  border-radius: 2px;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @include mobile {
    flex-basis: calc(((100% - 16px)) / 2);
    height: 290px;
  }
  @include tablet {
    flex-basis: calc((100% - (24px * (3 - 1))) / 3);
    height: 380px;
  }
  @include desktop {
    flex-basis: calc((100% - (46px * (4 - 1))) / 4);
    height: 380px;
  }
}
.offers-item-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 7px 7px 0 7px;
  @include tablet {
    padding: 10px 10px 0 10px;
  }
}

.order-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $accent-btn-color;
  width: 100%;
  height: 34px;
  padding: 8px 0;
  cursor: pointer;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include font(700, 15px, 120%, 0.03em);
  text-align: center;
  color: #ffffff;
  @include tablet {
    height: 40px;
    @include font(700, 18px, 120%, 0.03em);
    padding: 10px 0;
  }
  @include desktop {
    height: 50px;
    padding: 12px 0;
  }
  &:hover {
    background-color: $hover-btn-color;
    
  }
}
.in-basket {
  background-color: #F4F9FE;
  color: #81C5FF;
  border-top: 1px solid #81C5FF;
  &:hover {
    background-color: #F4F9FE;
    color: #81C5FF;
  }
}
.offers-subtitle {
  margin-top: 4px;
  margin-bottom: 4px;
  @include font(400, 15px, 120%, 0.02em);
  text-align: center;
  @include tablet {
    height: 34px;
    margin-top: 6px;
  }
  @include tablet {
    margin-top: 13px;
  }
}

.offers-text {
  flex-grow: 1;
  @include font(700, 15px, 120%, 0.03em);
  text-align: center;
  @include tablet {
    @include font(700, 18px, 120%, 0.03em);
    margin-bottom: 4px;
  }
}

.offers-thumb {
  background-color: $background-card-color;
  overflow: hidden;
  border-radius: 10px;
  height: 137px;
  width: 150px;
  @include tablet {
    height: 210px;
    width: 216px;
  }
  @include desktop {
    width: 222px;
    height: 200px;
  }
}

.offers-img {
  object-fit: cover;
  width: 100%;
}

.order-value {
  width: 33px;
  height: 32px;
  padding: 5px 0;
  border: 1px solid $hover-btn-color;
  box-shadow: 0px 0px 0px 2px rgba(24, 144, 255, 0.2);
  text-align: center;
  background-color: #fffcfc;
  z-index: 2;
}
.counter {
  position: absolute;
  bottom: 36px;
  display: flex;
  margin: 5px auto;
  @include tablet {
    bottom: 42px;
  }
  @include desktop {
    bottom: 52px;
  }
}
.counter-basket {
  position: static;
  bottom: 36px;
  display: flex;
  margin: 5px auto;
}

.order-decrement {
  font-family: $secondary-font-style;
  width: 30px;
  height: 32px;
  background-color: #fffcfc;
  border: 1px solid #d9d9d9;
  margin-right: -1px;
  cursor: pointer;
  border-radius: 2px 0px 0px 2px;
}
.order-increment {
  font-family: $secondary-font-style;
  width: 30px;
  height: 32px;
  background-color: #fffcfc;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid #d9d9d9;
  margin-left: -1px;
  cursor: pointer;
}
