@import "../utils/breakpoints";
@import "../utils/mixins";
@import "../utils/variables";

.basket-title {
  white-space: normal;
  @include mobile {
    white-space: nowrap;
  }

  @include font(400, 32px, 120%, 0.03em);
  margin-bottom: 32px;
  padding-top: 33px;

  @include tablet {
    @include font(400, 42px, 120%, 0.03em);
    padding-left: 15px;

    margin-bottom: 48px;
    padding-top: 48px;
  }
  @include desktop {
    padding-top: 52px;
    margin-bottom: 26px;
    // padding-left: 15px;
  }
}
.basket-list {
  display: flex;
  flex-direction: column;
}
.basket-item-wrapper {
  @include tablet {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}
.basket-list_item {
  display: block;
  border-bottom: 1px solid $background-card-color;
  padding-top: 34px;
  @include desktop {
    padding-top: 56px;
  }
}
.basket-item_title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  @include desktop {
    margin-bottom: 36px;
  }
}

.basket-item_title {
  width: 154px;
  display: flex;
  flex-wrap: wrap;
  @include tablet {
    width: 300px;
    // margin-left: 30px;
  }
}
.basket-subtitle {
  font-family: $secondary-font-style;
  @include font(400, 18px, 120%, 0.03em);
  @include tablet {
    @include font(400, 22px, 120%, 0.03em);
  }
  @include desktop {
    white-space: nowrap;
  }
}
.basket-item-price-wrapper {
  padding: 0 10px;
  display: flex;
  font-family: $secondary-font-style;
  @include mobile {
    padding: 0 15px;
  }
  @include font(700, 18px, 120%, 0.03em);
  @include tablet {
    @include font(700, 22px, 120%, 0.03em);
  }
  align-items: center;
  gap: 20px;
  font-weight: bold;
}

.basket {
  // padding: 10px;
  @include mobile {
    // padding: 0 16px;
  }
  @include tablet {
    // margin-left: 60px;
  }
}
.order-value {
  font-family: $secondary-font-style;
}
.basket-item-info {
  @include tablet {
    width: 75%;
    padding-left: 50px;
  }
  @include desktop {
    padding-left: 50px;
  }
  // margin-right: auto;
}

.basket-item_thumb {
  width: 100%;
  height: 300px;
  background-color: $background-color;
  border: 1px solid $footer-color;
  padding: 8px;
  margin-top: 24px;
  margin-bottom: 32px;
  @include mobile {
    width: 300px;
    height: 300px;
    background-color: $background-color;
    border: 1px solid $footer-color;
    padding: 8px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
  @include tablet {
    width: 200px;
    height: 200px;
    padding: 6px;
    margin-top: 0px;
    margin-right: auto;
  }
}

.basket-item_img {
  background-color: $background-card-color;
  object-fit: cover;
  width: 100%;
}
.basket-link-home {
  display: block;
  width: 192px;
  height: 42px;
  margin-bottom: 28px;
  margin-top: 32px;
  padding: 12px 20px;
  border: 1px solid $accent-btn-color;
  border-radius: 10px;
  white-space: nowrap;
  color: $accent-btn-color;
  background-color: #f8fafc;
  cursor: pointer;
  @include font(400, 15px, 120%, 0.03em);
  font-family: $secondary-font-style;
  @include tablet {
    width: 209px;
    height: 50px;
    padding: 16px 29px;
    margin-bottom: 48px;
    margin-top: 48px;
  }
  @include desktop {
    width: 255px;
    height: 54px;
    padding: 16px 32px;
    margin-bottom: 56px;
    margin-top: 56px;
  }

  &:hover {
    border: 1px solid $hover-btn-color;
  }
}

.basket-total {
  border-top: 1px solid $background-card-color;
  border-bottom: 1px solid $background-card-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.basket-total-title {
  @include font(400, 30px, 120%, 0.03em);
  margin-top: 32px;
  margin-bottom: 32px;
  @include tablet {
    @include font(400, 42px, 120%, 0.03em);
    margin-top: 56px;
    margin-bottom: 56px;
  }
}

.basket-total-price-wrapper {
  border: 1px solid $accent-btn-color;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;

  font-family: $secondary-font-style;
  @include font(700, 18px, 120%, 0.03em);
  @include tablet {
    @include font(700, 26px, 120%, 0.03em);
    margin-top: 52px;
    margin-bottom: 52px;
  }
}
.basket-total-price {
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  gap: 19px;
  width: 100%;
  padding: 16px;
  padding-bottom: 38px;
  margin-bottom: 32px;
  background-color: $background-color;
  @include tablet {
    width: 480px;
    padding: 26px 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px;
  }
  @include desktop {
    margin-bottom: 56px;

    margin-right: auto;
  }
}
.basket-form_input {
  width: 100%;
  height: 42px;
  font-family: $secondary-font-style;
  color: $primary-text-color;
  padding-left: 15px;
  &::placeholder {
    color: $input-text-color;
    font-family: $secondary-font-style;
  }
  @include font(400, 15px, 120%, 0.03em);
  background-color: #ffffff;
  outline: none;
  border: 1px solid #b4b2b2;
  @include tablet {
    min-width: 380px;
    height: 46px;
  }

  &::-ms-expand {
    display: none;
  }
  &:hover {
    border-color: #b4b2b2;
  }
  &:focus {
    border-color: #b4b2b2;
    box-shadow: 0 0 1px 1px rgba(59, 153, 252, 0.7);
    color: #222;
    outline: none;
  }
}
.basket-form_input.error-number {
  border-color: #b4b2b2;
  box-shadow: 0 0 1px 1px rgba(252, 59, 69, 0.7);
  color: #222;
  outline: none;
}

.select {
  font-family: $secondary-font-style;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("../images/icons/cheveron-outline-down.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}

.select option {
  font-weight: normal;
  color: $primary-text-color;
}

*[dir="rtl"] .select,
:root:lang(ar) .select,
:root:lang(iw) .select {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}

.basket-form_btn {
  font-family: $secondary-font-style;
  display: block;
  width: 209px;
  height: 54px;
  padding: 16px 32px;
  border-radius: 10px;
  color: $background-color;
  background-color: $accent-btn-color;
  border: 1px solid $accent-btn-color;
  margin-top: 60px;
  &:hover {
    border: 1px solid $hover-btn-color;
    background-color: #81c5ff;
  }
  &:disabled {
    background-color: $accent-btn-color;
    color: $background-color;;
    opacity: .4;
    cursor:auto;
}
}

.basket-empty {
  padding-left: 40px;
  padding-top: 96px;
  // padding-right: 10px;
}
.basket-empty-title {
  font-family: $secondary-font-style;
  margin-bottom: 10px;
  @include font(400, 22px, 120%, 0.03em);
  @include tablet {
    @include font(400, 36px, 120%, 0.03em);
  }
}
.basket-empty-text {
  font-family: $secondary-font-style;
  @include font(400, 18px, 120%, 0.03em);
  @include tablet {
    @include font(400, 22px, 120%, 0.03em);
  }
}

.basket-empty-text-wrapper {
  margin-bottom: 112px;
}

.basket-delete-btn {
  color: #a90d22;
  padding: 0px 4px;
  text-align: center;
  display: block;
  font-family: $secondary-font-style;
  background-color: $background-color;
  @include font(400, 16px, 120%, 0.03em);
  width: 25px;
  height: 25px;
  border: 1px solid $accent-btn-color;
  border-radius: 4px;
  @include tablet {
    @include font(400, 20px, 120%, 0.03em);
    width: 28px;
    height: 28px;
  }
  &:hover {
    border: 1px solid $hover-btn-color;
    background-color: #ffffff;
  }
}
