.backdrop {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  backdrop-filter: blur(2px);

  opacity: 1;
  overflow-y: hidden;
  visibility: visible;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms,
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 200ms,
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;

  background-color: $background-color;
  // overflow-y: auto;
  padding-right: 24px;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  border: 1px solid $accent-btn-color;
  border-radius: 10px;

  @include mobile {
    height: 168px;
    width: 306px;
  }

  @include tablet {
    width: 600px;
    height: 248px;
    padding-right: 75px;
    padding-left: 75px;
    padding-top: 64px;
    transform: translate(-50%, -50%);
  }
}
.modal-link-home {
  display: block;
  margin-top: 24px;
  // width: 200px;
  padding: 12px 10px;
  font-family: $secondary-font-style;
  @include mobile {
    height: 41px;
    white-space: nowrap;

    width: 200px;
  }
  @include font(400, 15px, 120%, 0.03em);
  color: $background-color;
  border-radius: 10px;
  background-color: $accent-btn-color;
  @include tablet {
    width: 283px;
    height: 54px;
    padding: 16px 32px;
    @include font(700, 18px, 120%, 0.03em);
  }
  &:hover {
    background-color: $hover-btn-color;
  }
}
.modal-text {
  font-family: $secondary-font-style;
  @include font(400, 15px, 120%, 0.03em);
  @include tablet {
    @include font(400, 22px, 120%, 0.03em);
  }
}
