.special-offer {
  position: relative;
  background-image: url('../images/hero/hero-thread-mobile.webp'),
    url('../images/hero/background@1x-mobile.jpg');
  @include retina {
    background-image: url('../images/hero/hero-thread-mobile_2x.webp'),
      url('../images/hero/background@2x-mobile.jpg');
  }
  background-size: 250px, 376px;
  background-position: bottom 67px left 63px, center;
  background-repeat: no-repeat, repeat-x;

  height: 604px;
  margin: 24px 0;

  @include tablet {
    background-image: url('../images/hero/hero-thread-tablet.webp'),
      url('../images/hero/background@1x-tablet.jpg');
    @include retina {
      background-image: url('../images/hero/hero-thread-tablet_2x.webp'),
        url('../images/hero/background@2x-tablet.jpg');
    }
    background-size: 322px, 834px;
    background-position: top 40px right 76px, center;
    background-repeat: no-repeat, repeat-x;

    height: 496px;
    margin: 56px 0;
  }

  @include desktop {
    background-image: url('../images/hero/hero-thread-desktop.webp'),
      url('../images/hero/background@1x-desktop.jpg');
    @include retina {
      background-image: url('../images/hero/hero-thread-desktop_2x.webp'),
        url('../images/hero/background@2x-desktop.jpg');
    }
    background-size: 540px, 1440px;
    background-position: top 55px right 200px, center;
    background-repeat: no-repeat, repeat-x;

    height: 632px;
    margin: 88px 0;
  }
}

// .special-offer__container {
//   padding: 24px;
//   padding-bottom: 0;

//   @include tablet {
//     flex-direction: row;
//     padding: 40px;
//   }
//   @include desktop {
//     padding: 0 165px;
//   }
// }

.special-offer__square {
  width: 285px;
  height: 265px;
  box-sizing: border-box;
  border: 4px solid $accent-btn-color;
  position: absolute;
  top: 22px;
  left: 18px;
  @include mobile {
    position: absolute;
    top: 24px;
    left: 34px;
    width: 308px;
    height: 263px;
    border: 4px solid $accent-btn-color;
    box-sizing: border-box;
  }

  @include tablet {
    width: 354px;
    height: 322px;
    top: 40px;
    left: 61px;
  }
  @include desktop {
    width: 476px;
    height: 404px;
    top: 80px;
    left: 193px;
  }
}

.special-offer__background {
  height: 226px;
  background-color: #ffffffa6;
  margin-top: 15px;
  margin-left: 13px;
  padding: 10px 46px;
  width: 90%;
  @include mobile {
    width: 343px;
    height: 226px;
    background-color: rgba(255, 255, 255, 0.65);
    margin-left: -22px;
    // margin-top: 15px;
    // display: block;
    // margin: 0 auto;
    padding: 32px 89px;
  }

  @include tablet {
    width: 396px;
    height: 280px;
    margin-left: -23px;
    padding-top: 16px;
    padding-left: 58px;
  }

  @include desktop {
    width: 532px;
    height: 348px;
    margin-left: -30px;
    margin-top: 25px;
  }
}

.special-offer__title {
  color: $hover-header-text-color;
  @include font(400, 24px, 44px, 0.03em);

  @include tablet {
    @include font(400, 42px, 52px, 0.03em);
    width: 300px;
  }

  @include desktop {
    margin-bottom: 15px;
  }
}

.special-offer__item {
  @include font(400, 18px, 22px, 0.03em);

  @include tablet {
    @include font(400, 36px, 43px, 0.03em);
    width: 300px;
  }
}

.special-offer__btn {
  position: absolute;
  bottom: 24px;
  left: 92px;
  width: fit-content;
  padding: 10px 24px;
  color: $background-color;
  font-family: $secondary-font-style;
  background-color: $accent-btn-color;
  @include font(700, 18px, 22px, 0.03em);
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @include tablet {
    padding: 16px 32px;
    bottom: 40px;
    left: 220px;
  }
  @include desktop {
    bottom: 54px;
    left: 481px;
  }

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background-color: $hover-btn-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
