.special-offer {
  background-image: url('../images/hero/background@1x-mobile.jpg');
  @include retina {
    background-image: url('../images/hero/background@2x-mobile.jpg');
  }
  height: 604px;
  margin: 24px 0;

  @include tablet {
    background-image: url('../images/hero/background@1x-tablet.jpg');
    @include retina {
      background-image: url('../images/hero/background@2x-tablet.jpg');
    }

    height: 496px;
    margin: 56px 0;
  }

  @include desktop {
    background-image: url('../images/hero/background@1x-desktop.jpg');
    @include retina {
      background-image: url('../images/hero/background@2x-desktop.jpg');
    }

    height: 632px;
    margin: 88px 0;
  }
}

.special-offer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  padding-bottom: 0;

  @include tablet {
    flex-direction: row;
    padding: 40px;
  }
  @include desktop {
    padding: 0 165px;
  }
}

.special-offer__square {
  width: 308px;
  height: 263px;
  border: 4px solid $accent-btn-color;
  box-sizing: border-box;

  @include tablet {
    width: 354px;
    height: 322px;
    margin: 0 21px;
  }
  @include desktop {
    width: 476px;
    height: 404px;
    margin: 0 28px;
  }
}

.special-offer__background {
  width: 343px;
  height: 226px;
  background-color: rgba(255, 255, 255, 0.65);
  margin-left: -22px;
  margin-top: 15px;
  padding: 32px 89px;

  @include tablet {
    width: 396px;
    height: 280px;
    margin-left: -23px;
    padding-top: 16px;
    padding-left: 58px;
  }

  @include desktop {
    width: 532px;
    height: 348px;
    margin-left: -30px;
    margin-top: 25px;
  }
}

.special-offer__title {
  color: $hover-header-text-color;
  @include font(400, 24px, 44px, 0.03em);

  @include tablet {
    @include font(400, 42px, 52px, 0.03em);
    width: 300px;
  }

  @include desktop {
    margin-bottom: 15px;
  }
}

.special-offer__item {
  @include font(400, 18px, 22px, 0.03em);

  @include tablet {
    @include font(400, 36px, 43px, 0.03em);
    width: 300px;
  }
}

.special-offer__img {
  rotate: 90deg;
  width: 100%;
  @include desktop {
    width: 540px;
    margin-top: 55px;
  }
}

.special-offer__btn {
  margin: 0 auto;
  display: flex;
  width: fit-content;
  padding: 10px 24px;
  color: $background-color;
  font-family: $secondary-font-style;
  background-color: $accent-btn-color;
  @include font(700, 18px, 22px, 0.03em);
  border: none;
  border-radius: 10px;

  @include tablet {
    padding: 16px 32px;
    margin-left: 220px;
  }
  @include desktop {
    margin-left: 480px;
    margin-top: -55px;
  }
}
