.basket-title {
  white-space: nowrap;
  font-weight: 400;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .basket-title {
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-bottom: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .basket-title {
    margin-bottom: 56px;
  }
}

.basket-list {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 834px) {
  .basket-item-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }
}

.basket-list_item {
  display: block;
  border-bottom: 1px solid #f3eed9;
}

.basket-item_title-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
  .basket-item_title-wrapper {
    margin-bottom: 36px;
    margin-right: 20px;
  }
}

.basket-item_title {
  width: 154px;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 834px) {
  .basket-item_title {
    width: 300px;
    margin-left: 30px;
  }
}

.basket-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .basket-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1440px) {
  .basket-subtitle {
    white-space: nowrap;
  }
}

.basket-item-price {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 834px) {
  .basket-item-price {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 834px) {
  .basket {
    margin-left: 60px;
  }
}

.order-value {
  font-family: "Roboto", sans-serif;
}

.basket-item-info {
  margin-right: auto;
}
@media screen and (min-width: 834px) {
  .basket-item-info {
    width: 100%;
  }
}

.basket-item_thumb {
  width: 300px;
  height: 300px;
  background-color: #f8fafc;
  border: 1px solid #2f7fce;
  padding: 8px;
  margin-top: 24px;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .basket-item_thumb {
    width: 200px;
    height: 200px;
    padding: 6px;
    margin-top: 0px;
    margin-right: auto;
  }
}

.basket-item_img {
  background-color: #f3eed9;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.basket-link-home {
  display: block;
  width: 192px;
  height: 42px;
  margin-bottom: 28px;
  margin-top: 32px;
  padding: 12px 20px;
  border: 1px solid #6cb0f3;
  border-radius: 10px;
  white-space: nowrap;
  color: #6cb0f3;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 834px) {
  .basket-link-home {
    width: 209px;
    height: 50px;
    padding: 16px 29px;
    margin-bottom: 48px;
    margin-top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .basket-link-home {
    width: 255px;
    height: 54px;
    padding: 16px 32px;
    margin-bottom: 56px;
    margin-top: 56px;
  }
}
.basket-link-home:hover {
  border: 1px solid #81c5ff;
}

.basket-total {
  border-top: 1px solid #f3eed9;
  border-bottom: 1px solid #f3eed9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.basket-total-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.03em;
  margin-top: 32px;
  margin-bottom: 32px;
}
@media screen and (min-width: 834px) {
  .basket-total-title {
    font-weight: 400;
    font-size: 42px;
    line-height: 120%;
    letter-spacing: 0.03em;
    margin-top: 56px;
    margin-bottom: 56px;
  }
}

.basket-total-price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  padding: 17px 23px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #6cb0f3;
}
@media screen and (min-width: 834px) {
  .basket-total-price {
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.03em;
    padding: 15px 20px;
    margin-top: 52px;
    margin-bottom: 52px;
  }
}

.basket-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  gap: 19px;
  width: 300px;
  background-color: #f8fafc;
}
@media screen and (min-width: 834px) {
  .basket-form {
    width: 450px;
    padding: 26px 50px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .basket-form {
    margin-right: auto;
  }
}

.basket-form_input {
  min-width: 343px;
  height: 42px;
  font-family: "Roboto", sans-serif;
  color: #8f8f8f;
  font-weight: 400;
  font-size: 15px;
  line-height: 120%;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #b4b2b2;
}
.basket-form_input::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  color: #8f8f8f;
}
.basket-form_input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #8f8f8f;
}
@media screen and (min-width: 834px) {
  .basket-form_input {
    min-width: 380px;
    height: 46px;
  }
}

.basket-form_btn {
  display: block;
  width: 209px;
  height: 54px;
  padding: 16px 32px;
  border-radius: 10px;
  color: #f3eed9;
  background-color: #6cb0f3;
  border: 1px solid #6cb0f3;
  margin-top: 70px;
}/*# sourceMappingURL=basket.css.map */