<div class="container basket">
  <section class="js-basket-section">
    <h2 class="basket-title">Оформлення замовлення</h2>
    <ul class="basket-list">
      <!-- Вміст корзини -->
    </ul>
    <button
      type="button"
      data-section="allOffersSection"
      class="basket-link-home"
      noopener
      noreferrer
    >
      Продовжити покупки
    </button>
    <div class="basket-total">
      <p class="basket-total-title">До сплати</p>
      <div class="basket-total-price-wrapper">
        <div class="basket-total-price"></div>
        <span>грн</span>
      </div>
    </div>
    <form class="basket-form">
      <input
        class="basket-form_input"
        type="text"
        name="name"
        pattern="[A-Za-zА-Яа-яІіЇїЄєҐґ\s'-]+"
        placeholder="Прізвище та імʼя"
        required
      />

      <input
        class="basket-form_input telephone "
        type="tel"
        name="tel"
        pattern="\+?\d{1,4}?[-.\s]?\(?\d{1,3}?\)?[-.\s]?\d{1,4}[-.\s]?\d{1,4}[-.\s]?\d{1,9}"
        placeholder="Номер телефону"
        required
      />

      <select name="postal" class="basket-form_input select">
        <option value disabled selected>
          Спосіб доставки
        </option></span>
        <option value="novaPochta">Нова Пошта</option>
        <option value="ukrPochta">Укрпошта</option>
      </select>

      <input
        type="text"
        class="basket-form_input"
        name="city"
        placeholder="Місто"
        required
      />

      <input
        class="basket-form_input"
        type="text"
        name="department"
        placeholder="Номер відділення"
        required
      />

      <button type="submit" class="basket-form_btn">Замовити нитку</button>
    </form>
  </section>
</div>
